:root {
    --table-width-size: 1500px;
}

.table {
    border-collapse: collapse;
    font-size: 22px;
    width: var(--table-width-size);
    margin-top: 20px;

    th,
    td {
        border: 1px solid black;
        height: 50px;
        text-align: center;
    }
}

.btnContainer {
    text-align: center;
    margin-top: 20px;

    button {
        margin: 30px;
        width: 200px;
        height: 40px;
        border-radius: 10px;
        font-size: 20px;
        border: 1px solid black;
        cursor: pointer;
        background-color: transparent;

    }
}