:root {
    --col1_size: 300px;
    --col2_size: 300px;
    --col3_size: 250px;
    --col4_size: 150px;
    --col5_size: 200px;
}

.flexContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table {
    border-collapse: collapse;
    border: 2px solid black;
    text-align: center;
    font-size: 22px;


    th,
    td {
        border: 2px solid black;
        height: 50px;
    }

    .companyName {
        width: var(--col1_size);
    }

    .jobTitle {
        width: var(--col2_size);
    }

    .location {
        width: var(--col3_size);
    }

    .appLink {
        width: var(--col4_size);
    }

    .status {
        width: var(--col5_size);
    }

}

.switchCollection {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;

    .switchCollectionOption {
        height: 40px;
        border-radius: 30px;
        cursor: pointer;
    }
}

.filterSelections {
    width: 20%;
    height: 40px;
    font-size: 20px;
    cursor: pointer;

    .filterOptions {
        height: 40px;
        border-radius: 30px;
        cursor: pointer;
    }
}

.filterInput {
    width: 79%;
    height: 35px;
    font-size: 20px;
}