:root {
    --col1_size: 300px;
    --col2_size: 300px;
    --col3_size: 250px;
    --col4_size: 150px;
    --col5_size: 200px;
}

.flexContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table {
    border-collapse: collapse;
    border: 2px solid black;
    text-align: center;
    font-size: 22px;


    th,
    td {
        border: 2px solid black;
        height: 50px;
    }

    .companyName {
        width: var(--col1_size);
    }

    .jobTitle {
        width: var(--col2_size);
    }

    .location {
        width: var(--col3_size);
    }

    .appLink {
        width: var(--col4_size);
    }

    .status {
        width: var(--col5_size);
    }

}