:root {
    --col1_size: 300px;
    --col2_size: 300px;
    --col3_size: 250px;
    --col4_size: 150px;
    --col5_size: 200px;

    --switch-collection-input-size: 100%;
    --filter-input-size: 79%;
    --filter-select-size: 20%;

}

.flexContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table {
    border-collapse: collapse;
    border: 2px solid black;
    text-align: center;
    font-size: 22px;


    th,
    td {
        border: 2px solid black;
        height: 50px;
    }

    .companyName {
        width: var(--col1_size);
    }

    .jobTitle {
        width: var(--col2_size);
    }

    .location {
        width: var(--col3_size);
    }

    .appLink {
        width: var(--col4_size);
    }

    .status {
        width: var(--col5_size);
    }

}

.switchCollection {
    width: var(--switch-collection-input-size);
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;

    .switchCollectionOption {
        height: 40px;
        border-radius: 30px;
        cursor: pointer;
    }
}

.filterSelections {
    width: var(--filter-select-size);
    height: 40px;
    font-size: 20px;
    cursor: pointer;

    .filterOptions {
        height: 40px;
        border-radius: 30px;
        cursor: pointer;
    }
}

.filterInput {
    width: var(--filter-input-size);
    height: 35px;
    font-size: 20px;
}

@media screen and (max-width: 1530px) {
    :root {
        --switch-collection-input-size: 1000px;
        --filter-input-size: 650px;
        --filter-select-size: 344px;
    }
}

@media screen and (max-width: 1010px) {
    :root {
        --switch-collection-input-size: 650px;
        --filter-input-size: 390px;
        --filter-select-size: 250px;
    }
}

@media screen and (max-width: 800px) {
    :root {
        --switch-collection-input-size: 500px;
        --filter-input-size: 344px;
        --filter-select-size: 144px;

    }
}

@media screen and (max-width: 500px) {
    :root {
        --switch-collection-input-size: 300px;
        --filter-input-size: 195px;
        --filter-select-size: 100px;

    }
}